{% extends 'base.html' %} {% block body %} {% load static %}

<!-- Section: inner-header -->
<section style="background-position:50% -183px !important"
    class="inner-header divider parallax layer-overlay overlay-dark-5" data-parallax-ratio="0.0">
    <div class="container pt-20 pb-20">
        <!-- Section Content -->
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="title text-white">About</h4>
                    <!-- <ul class="breadcrumb white">
                        <li><a class="text-white" href="{% url 'index'%}">Home</a></li>
                        <li class="active">About</li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section: About -->
<section class="">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="text-uppercase mt-0">WHY TO MAKE <span class="text-theme-colored">BK AROGYAM </span><br>
                        YOUR FIRST CHOICE ?</h2>
                    <!-- <h4 class="text-gray-dimgray font-weight-400"><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</em></h4>  -->
                    <p>B.K. Arogyam is a purely Ayurveda based healthcare and research center. It is successfully
                        operating since 1979 and spreading awareness for Ayurveda in all over the world. It is been able
                        to cure patients and give them relieve from their deadly conditions from last 41 long years. We
                        have researched and found medicines and treatments to cure.</p>
                    <p>Ayurveda is accountable for driving the Indian healthcare industry forward with a valued
                        inheritance culture. With B.K.Arogyam, your ailment will not only be treated but you will be
                        provided with an enhanced healthier lifestyle with the exceptional rejuvenation packages.</p>
                    <!-- <a class="btn btn-flat btn-theme-colored text-uppercase mt-20 mb-sm-30 border-left-theme-color-2-4px">Read More</a> -->
                </div>

                <div class="col-md-6">
                    <div class="row mb-10">
                        <div class="col-sm-6 col-md-6 pr-5 pr-sm-15 mb-sm-10">
                            <img class="img-fullwidth" src="{% static 'images/about-us/team.webp' %}" alt="">
                        </div>
                        <div class="col-sm-6 col-md-6 pl-5 pl-sm-15">
                            <img class="img-fullwidth" src="{% static 'images/about-us/center.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-6 pr-5 pr-sm-15 mb-sm-10">
                            <img class="img-fullwidth" src="{% static 'images/about-us/resception.jpg' %}" alt="">
                        </div>
                        <div class="col-sm-6 col-md-6 pl-5 pl-sm-15">
                            <img class="img-fullwidth" src="{% static 'images/about-us/office.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h3 class="m-20 mt-20 text-uppercase mt-0 font-weight-600">Enhancing <span
                    class="text-theme-colored ">Ayurveda
                </span>as a Global Pioneer </h3>
            <p class="m-20">B.K.Arogyam works on symbolizing the reliability and efficacy of holistic Ayurvedic
                approaches towards modern society ailments and promotes wellness. With a perfect combination of
                medicines, diet, and lifestyle, and extensive research as well as mankind's service, we stand as a
                global pioneer in proffering well-being and peace in society.</p>
            <div class="col-xs-12 col-sm-6 col-md-6 ">
                <div class="icon-box p-0 mb-30">
                    <a style="border-radius: 5px;"
                        class="icon icon-sm pull-left sm-pull-none flip bg-theme-colored mb-sm-15 mb-0 mr-10"
                        href="http://arogyambharat.com/" target="_blank">
                        <i class="pe-7s-display1 text-white font-36"></i>
                    </a>
                    <a href="http://arogyambharat.com/" target="_blank">
                        <h4 class="icon-box-title m-0 mb-5">Business Opportunities</h4>
                    </a>
                    <p class="text-gray mb-5">We provide extensive business opportunities to institutions and
                        individuals letting them serve mankind through holistic approaches and increasing operational
                        revenues.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="icon-box p-0 mb-30">
                    <a style="border-radius: 5px;"
                        class="icon icon-sm pull-left sm-pull-none flip bg-theme-colored mb-sm-15 mb-0 mr-10">
                        <i class="pe-7s-leaf text-white font-36"></i>
                    </a>
                    <h4 class="icon-box-title m-0 mb-5">Ayurveda</h4>
                    <p class="text-gray mb-5">We follow the oldest traditional methods to provide natural care to an
                        ailment and heal it with pure authentic and appropriate Ayurvedic remedies for better efficacy.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="icon-box p-0 mb-sm-30">
                    <a style="border-radius: 5px;"
                        class="icon icon-sm pull-left sm-pull-none flip bg-theme-colored mb-sm-15 mb-0 mr-10"
                        href="http://bkarogyadham.in/" target="_blank">
                        <i class="pe-7s-cash text-white font-36"></i>
                    </a>
                    <a href="http://bkarogyadham.in/" target="_blank"></a>
                    <h4 class="icon-box-title m-0 mb-5">Donation</h4></a>
                    <p class="text-gray mb-5">As a part of serving wellness, we also take part actively in contributing
                        to the needs of the society in all aspects, by putting morals and ethics at first preference.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="icon-box p-0">
                    <a style="border-radius: 5px;"
                        class="icon icon-sm pull-left sm-pull-none flip bg-theme-colored mb-sm-15 mb-0 mr-10"
                        href="http://shop.arogyambharat.com/" target="_blank">
                        <i class="pe-7s-shopbag text-white font-36"></i>
                    </a>
                    <a href="http://shop.arogyambharat.com/" target="_blank">
                        <h4 class="icon-box-title m-0 mb-5">E-Shop</h4>
                    </a>
                    <p class="text-gray mb-5">You will get all our self-formulated herbal medications at the best
                        affordable price, which makes you proceed with the healing process of your acute or chronic
                        condition efficiently.
                    </p>
                </div>
            </div>
        </div>
        <hr>
        <h3 class="text-uppercase mt-0 font-weight-600 line-bottom mt-20 mb-20">Our <span
                class="text-theme-colored ">Mission, Vission</span></h3>
        <div class="col-xs-12 col-sm-6 col-md-6 ">
            <div class="icon-box p-0">
                <a style="border-radius: 5px;"
                    class="icon icon-sm pull-left sm-pull-none flip bg-theme-colored mb-sm-15 mb-0 mr-10">
                    <i class="pe-7s-target text-white font-36"></i>
                </a>
                <h4 class="icon-box-title m-0 mb-5">Our Mission</h4>
                <p class="text-gray mb-5">Оur Mіssіоn іs tо sеrvе thе реорlе bу рrоvіdіng еduсаtіоn аbоut Ауurvеdа аnd
                    strіvіng fоr “Glоbаl Wеllnеss” thrоugh Ауurvеdа. Wе аrе соmmіttеd tо brіng tо wоrld hіgh quаlіtу
                    Ауurvеdіс рrоduсts еmbоdіеd wіth ехсеllеnсе іn sеrvісеs оf humаnіtу fоr соmрlеtе sаtіsfасtіоn.</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="icon-box p-0">
                <a style="border-radius: 5px;"
                    class="icon icon-sm pull-left sm-pull-none flip bg-theme-colored mb-sm-15 mb-0 mr-10">
                    <i class="pe-7s-look text-white font-36"></i>
                </a>
                <h4 class="icon-box-title m-0 mb-5">Our Vission</h4>
                <p class="text-gray mb-5">Оur Vіsіоn іs tо sее а hеаlthіеr wоrld, wіth thе hеlр оf аnсіеnt Ауurvеdіс
                    асhіеvеmеnts аnd nеw аgе sсіеntіfіс tесhnоlоgу. Wе аsріrе tо blеnd thе sсіеnсе оf Ауurvеdа wіth
                    mоdеrn mеdісаl rеsеаrсh mеthоdоlоgу tо рrоvіdе nаturаl sоlutіоns tо humаn аіlmеnts.</p>
            </div>
        </div>
    </div>
</section>

<!-- Divider: Funfact -->
<section class="divider parallax layer-overlay overlay-dark-6" data-bg-img="{% static 'images/bg/bg4.jpg' %}"
    data-parallax-ratio="0.7">
    <div class="container pt-90 pb-90">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                <div class="funfact text-center">
                    <i class="pe-7s-smile mt-5 text-white"></i>
                    <h2 data-animation-duration="2000" data-value="102205"
                        class="animate-number text-theme-colored font-42 font-weight-500 mt-0 mb-0">0</h2>
                    <h5 class="text-white text-uppercase font-weight-600">Happy Patients</h5>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                <div class="funfact text-center">
                    <i class="pe-7s-rocket mt-5 text-white"></i>
                    <h2 data-animation-duration="2000" data-value="2458"
                        class="animate-number text-theme-colored font-42 font-weight-500 mt-0 mb-0">0</h2>
                    <h5 class="text-white text-uppercase font-weight-600">Camps</h5>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                <div class="funfact text-center">
                    <i class="pe-7s-id mt-5 text-white"></i>
                    <h2 data-animation-duration="2000" data-value="50"
                        class="animate-number text-theme-colored font-42 font-weight-500 mt-0 mb-0">0</h2>
                    <h5 class="text-white text-uppercase font-weight-600">Our Doctor</h5>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                <div class="funfact text-center">
                    <i class="pe-7s-map-2 mt-5 text-white"></i>
                    <h2 data-animation-duration="2000" data-value="5"
                        class="animate-number text-theme-colored font-42 font-weight-500 mt-0 mb-0">0</h2>
                    <h5 class="text-white text-uppercase font-weight-600">Our Center</h5>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section: uniq-point -->
<section id="uniq-point">
    <div class="container pt-50">
        <div class="section-title text-center">
            <div class="row">
                <div class="title-icon">
                    <img style="height: 40px; text-align: center; margin-top: -20px;"
                        src="{% static 'images/hearbel.png' %}">
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="text-uppercase mt-0">Our <span class="text-theme-colored">Unique Point</span></h2>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem autem<br> voluptatem obcaecati!</p> -->
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 mb-5" data-wow-duration="1s" data-wow-delay="0.3s">
                    <div class="card effect__hover">
                        <div class="border-redi card__front bg-theme-colored">
                            <div class="card__text">
                                <div class="display-table-parent">
                                    <div class="display-table">
                                        <div class="display-table-cell">
                                            <div class="icon-box mb-0"> <i class="text-white pe-7s-medal font-55"></i>
                                                </a>
                                                <h3 class="icon-box-title text-uppercase text-white font-20">Direct
                                                    Selling</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="border-redi card__back" data-bg-color="#e0e0e0">
                            <div class="card__text">
                                <div class="display-table-parent p-30">
                                    <div class="display-table">
                                        <div class="display-table-cell">
                                            <h4 class="text-uppercase font-weight-600">Direct Selling</h4>
                                            <p style="text-align: justify;">This is the only organization in India that
                                                produces not only curative
                                                but also preventive medicines. These medicines not only cure the disease
                                                but also help in preventing the disease. We are only organization in
                                                direct selling of medicines in India.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 mb-5" data-wow-duration="1s" data-wow-delay="0.3s">
                    <div class="card effect__hover">
                        <div class="border-redi card__front bg-theme-colored">
                            <div class="card__text">
                                <div class="display-table-parent">
                                    <div class="display-table">
                                        <div class="display-table-cell">
                                            <div class="icon-box mb-0"> <i class="text-white pe-7s-medal font-55"></i>
                                                </a>
                                                <h3 class="icon-box-title text-uppercase text-white font-20">ISO & GMP
                                                    Certified</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="border-redi card__back" data-bg-color="#e0e0e0">
                            <div class="card__text">
                                <div class="display-table-parent p-30">
                                    <div class="display-table">
                                        <div class="display-table-cell">
                                            <h4 class="text-uppercase font-weight-600">ISO & GMP Certified</h4>
                                            <p style="text-align: justify;">We are the only organization that is ISO and
                                                GMP certified that provides through-to technology online training and
                                                certificate so that you can work on certified advisor profile.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 mb-5" data-wow-duration="1s" data-wow-delay="0.3s">
                    <div class="card effect__hover">
                        <div class="border-redi card__front bg-theme-colored">
                            <div class="card__text">
                                <div class="display-table-parent">
                                    <div class="display-table">
                                        <div class="display-table-cell">
                                            <div class="icon-box mb-0"> <i class="text-white pe-7s-medal font-55"></i>
                                                </a>
                                                <h3 class="icon-box-title text-uppercase text-white font-20">Personal
                                                    Doctor</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="border-redi card__back" data-bg-color="#e0e0e0">
                            <div class="card__text">
                                <div class="display-table-parent p-30">
                                    <div class="display-table">
                                        <div class="display-table-cell">
                                            <h4 class="text-uppercase font-weight-600">Personal Doctor</h4>
                                            <p style="text-align: justify;">We are the only direct selling company that
                                                provides personal doctor facility that means if people who have joined
                                                us faces any health complication then they can directly have
                                                consultation with their personal doctor.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 mb-5" data-wow-duration="1s" data-wow-delay="0.3s">
                    <div class="card effect__hover">
                        <div class="border-redi card__front bg-theme-colored">
                            <div class="card__text">
                                <div class="display-table-parent">
                                    <div class="display-table">
                                        <div class="display-table-cell">
                                            <div class="icon-box mb-0"> <i class="text-white pe-7s-medal font-55"></i>
                                                </a>
                                                <h3 class="icon-box-title text-uppercase text-white font-20">We are
                                                    Operating</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="border-redi card__back" data-bg-color="#e0e0e0">
                            <div class="card__text">
                                <div class="display-table-parent p-30">
                                    <div class="display-table">
                                        <div class="display-table-cell">
                                            <h4 class="text-uppercase font-weight-600">We are Operating</h4>
                                            <p style="text-align: justify;">We are operating successfully from last 41
                                                years and have built with many critical conditions of patients and have
                                                successfully recovered them in healthy state. Besides, we have
                                                self-owned hospitals and provide many other facilities which no other
                                                organization provides to their patients.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 mb-5" data-wow-duration="1s" data-wow-delay="0.3s">
                    <div class="card effect__hover">
                        <div class="border-redi card__front bg-theme-colored">
                            <div class="card__text">
                                <div class="display-table-parent">
                                    <div class="display-table">
                                        <div class="display-table-cell">
                                            <div class="icon-box mb-0"> <i class="text-white pe-7s-medal font-55"></i>
                                                </a>
                                                <h3 class="icon-box-title text-uppercase text-white font-20">Network of
                                                    Doctors</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="border-redi card__back" data-bg-color="#e0e0e0">
                            <div class="card__text">
                                <div class="display-table-parent p-30">
                                    <div class="display-table">
                                        <div class="display-table-cell">
                                            <h4 class="text-uppercase font-weight-600">Network of Doctors</h4>
                                            <p style="text-align: justify;">We are only organization that is having huge
                                                network of doctors and support team that no other organization has.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 mb-5" data-wow-duration="1s" data-wow-delay="0.3s">
                    <div class="card effect__hover">
                        <div class="border-redi card__front bg-theme-colored">
                            <div class="card__text">
                                <div class="display-table-parent">
                                    <div class="display-table">
                                        <div class="display-table-cell">
                                            <div class="icon-box mb-0"> <i class="text-white pe-7s-medal font-55"></i>
                                                </a>
                                                <h3 class="icon-box-title text-uppercase text-white font-20">Online
                                                    Consultations</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="border-redi card__back" data-bg-color="#e0e0e0">
                            <div class="card__text">
                                <div class="display-table-parent p-30">
                                    <div class="display-table">
                                        <div class="display-table-cell">
                                            <h4 class="text-uppercase font-weight-600">Online Consultations</h4>
                                            <p style="text-align: justify;">We are only organization that provides life
                                                backup support that means if you or your patients face any health
                                                complications then our online doctors will provide you consultations and
                                                solutions of your problem.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xs-12 col-sm-6 col-md-4 mb-5" data-wow-duration="1s" data-wow-delay="0.3s">
                    <div class="card effect__hover">
                        <div class="border-redi card__front bg-theme-colored">
                            <div class="card__text">
                                <div class="display-table-parent">
                                    <div class="display-table">
                                        <div class="display-table-cell">
                                            <div class="icon-box mb-0"> <i class="text-white pe-7s-medal font-55"></i>
                                                </a>
                                                <h3 class="icon-box-title text-uppercase text-white font-20">Directly
                                                    Income</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="border-redi card__back" data-bg-color="#e0e0e0">
                            <div class="card__text">
                                <div class="display-table-parent p-30">
                                    <div class="display-table">
                                        <div class="display-table-cell">
                                            <h4 class="text-uppercase font-weight-600">Directly Income</h4>
                                            <p style="text-align: justify;">We are only direct selling organization that
                                                works on single level only and there are no chances of fraud in our
                                                organization. If you are working you can directly earn income.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 mb-5" data-wow-duration="1s" data-wow-delay="0.3s">
                    <div class="card effect__hover">
                        <div class="border-redi card__front bg-theme-colored">
                            <div class="card__text">
                                <div class="display-table-parent">
                                    <div class="display-table">
                                        <div class="display-table-cell">
                                            <div class="icon-box mb-0"> <i class="text-white pe-7s-medal font-55"></i>
                                                </a>
                                                <h3 class="icon-box-title text-uppercase text-white font-20">Health
                                                    Services</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="border-redi card__back" data-bg-color="#e0e0e0">
                            <div class="card__text">
                                <div class="display-table-parent p-30">
                                    <div class="display-table">
                                        <div class="display-table-cell">
                                            <h4 class="text-uppercase font-weight-600">Health Services</h4>
                                            <p style="text-align: justify;">We are the only organization whose huge part
                                                of income is utilized in the health services.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Section: uniq-point -->
<section id="services-brand">
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6 ">
                    <h2 class="text-uppercase line-bottom mt-0">Our <span class="text-theme-colored ">Services</span>
                    </h2>

                    <div id="accordion1" class="panel-group accordion transparent">
                        <div class="panel">
                            <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse"
                                    href="#accordion11" class="active" aria-expanded="true"> <span
                                        class="open-sub"></span> Bk Kidney Care</a>
                            </div>
                            <div id="accordion11" class="panel-collapse collapse in" role="tablist"
                                aria-expanded="true">
                                <div class="panel-content">
                                    <p>BK Kidney Care is India's top quality service brand that has cure of all
                                        types of
                                        kidney
                                        diseases. BK Kidney Care has successfully cured more than lack patients
                                        of dialysis
                                        and
                                        transplant. BK Kidney Care has given ray of hope and successful
                                        treatments to those
                                        people that
                                        were denied from hospitals and lost the hope of survival.<br><a
                                            href="http://bkkidneycare.com/" target="_blank"><b>Click
                                                Here</b></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-title"> <a class="collapsed" data-parent="#accordion1"
                                    data-toggle="collapse" href="#accordion12" aria-expanded="false"> <span
                                        class="open-sub"></span> Bk Diabetes Care</a>
                            </div>
                            <div id="accordion12" class="panel-collapse collapse" role="tablist" aria-expanded="false"
                                style="height: 0px;">
                                <div class="panel-content">
                                    <p>BK Diabetes Care as a Health Service brand that is providing facilities
                                        of diabetes management to the people who are disturbed by the
                                        complications of diabetes.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse"
                                    href="#accordion13" class="collapsed" aria-expanded="false"> <span
                                        class="open-sub"></span> Bk Heart Care</a>
                            </div>
                            <div id="accordion13" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                                <div class="panel-content">
                                    <p>BK Heart Care is a service brand that provides treatment and management
                                        of all kinds of
                                        heart
                                        diseases and provides Ayurvedic treatment and medication with several
                                        lifestyle changes
                                        for the
                                        betterment of people suffering from any cardiovascular disease.<br><a
                                            href="http://bkheartcare.com/" target="_blank"><b>Click Here</b></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse"
                                    href="#accordion14" class="collapsed" aria-expanded="false"> <span
                                        class="open-sub"></span> Bk Immunity Care</a>
                            </div>
                            <div id="accordion14" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                                <div class="panel-content">
                                    <p>During this COVID-19 pandemic breakout where every Research Academy is
                                        putting their all
                                        efforts
                                        to find the cure and vaccine of Corona virus but is unable to do so. BK
                                        Arogyam has
                                        given relief
                                        to many patients successfully from this deadly disease.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse"
                                    href="#accordion15" class="collapsed" aria-expanded="false"> <span
                                        class="open-sub"></span> Bk Cancer Care</a>
                            </div>
                            <div id="accordion15" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                                <div class="panel-content">
                                    <p>BK Cancer Care is a service brand of BK Arogyam that is able to provide
                                        treatment and
                                        medications
                                        purely Ayurveda based to patients suffering from various types of cancer
                                        so that they
                                        can live
                                        their life to the fullest without having any chemotherapy.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse"
                                    href="#accordion16" class="collapsed" aria-expanded="false"> <span
                                        class="open-sub"></span> BK Kayashudhi</a>
                            </div>
                            <div id="accordion16" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                                <div class="panel-content">
                                    <p>BK Kayashudhi is one of the most prominent service Ayurvedic brands of
                                        India that is fully Ayurveda based and provides various kinds of
                                        services of Naturopathy, physiotherapy such as Panchkarma, Yoga,
                                        Pranayam, Shirodhara, Shatkarma, Abhyanga to the people who have
                                        different body issues.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="col-md-6">
                    <h2 class="text-uppercase line-bottom  mt-0">Our <span class="text-theme-colored  ">Brands</span>
                    </h2>

                    <div id="accordion2" class="panel-group accordion transparent">
                        <div class="panel">
                            <div class="panel-title"> <a data-parent="#accordion2" data-toggle="collapse"
                                    href="#accordion17" class="active" aria-expanded="true"> <span
                                        class="open-sub"></span> BK Nutriveda</a>
                            </div>
                            <div id="accordion17" class="panel-collapse collapse in" role="tablist"
                                aria-expanded="true">
                                <div class="panel-content">
                                    <p>
                                        BK Nutriveda is a product brand of the BK Arogyam that provides Ayurvedic health
                                        supplements and immunity boosters. All the products of this brand are of top
                                        quality, certified, and these are better than the other multinational
                                        organization products.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="panel">
                            <div class="panel-title"> <a class="collapsed" data-parent="#accordion2"
                                    data-toggle="collapse" href="#accordion18" aria-expanded="false"> <span
                                        class="open-sub"></span> Bk Kayashudhi </a>
                            </div>
                            <div id="accordion18" class="panel-collapse collapse" role="tablist" aria-expanded="false"
                                style="height: 0px;">
                                <div class="panel-content">
                                    <p>Bk Kayashudhi this product brand of BK Arogyam provides a range of products that
                                        are used for various body services. This includes various therapies of body,
                                        oils, essential oils, etc that are used for or rejuvenating and regaining the
                                        natural health of the body.
                                    </p>
                                </div>
                            </div>
                        </div> -->
                        <div class="panel">
                            <div class="panel-title"> <a data-parent="#accordion2" data-toggle="collapse"
                                    href="#accordion19" class="collapsed" aria-expanded="false"> <span
                                        class="open-sub"></span> Bk Arogyaveda</a>
                            </div>
                            <div id="accordion19" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                                <div class="panel-content">
                                    <p>
                                        BK Arogyaveda in this product brand of BK Arogyam we include all the cell
                                        researched
                                        and manufactured medicines and treatment of all kinds of diseases such as head
                                        ache, stomach ache, fever to cancer and coronavirus. We have made Ayurvedic
                                        treatment and medications so easy to be used throughout our Arogyaveda Product
                                        Brand. All these products under this brand are free of any side effect and
                                        manufactured with natural, herbal, and organic ingredients only.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-title"> <a data-parent="#accordion2" data-toggle="collapse"
                                    href="#accordion20" class="collapsed" aria-expanded="false"> <span
                                        class="open-sub"></span> Bk Rupam</a>
                            </div>
                            <div id="accordion20" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                                <div class="panel-content">
                                    <p>
                                        Bk Rupam this BK Rupam product brand of BK Arogyam includes wide range of skin
                                        care products that are manufactured purely with Ayurvedic ingredients.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="panel-title"> <a data-parent="#accordion2" data-toggle="collapse"
                                    href="#accordion21" class="collapsed" aria-expanded="false"> <span
                                        class="open-sub"></span> Bk Muscleveda</a>
                            </div>
                            <div id="accordion21" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                                <div class="panel-content">
                                    <p>
                                        Bk Muscleveda this BK Muscleveda product brand of BK Arogyam includes range of
                                        health supplements that provides strength to the muscles and tissues of body.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>
</section>



<!-- Section: Our Counselor -->
<section>
    <div class="container pt-10">
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">

                    <h2 class="title line-bottom mt-0 mb-30">Our <span class="text-theme-colored">Director</span></h2>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="team-thumb">
                                <img style="width: 50% ​!important;" alt="" src="{% static 'images/team/bksir.png'%}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h3 class="font-weight-600">Dr. Brijesh Chaurasia</h3>
                            <p style="text-align: justify;">
                                Dr. B.K. Chaurasia, an internationally acclaimed physician and researcher, worked in the
                                field of Kidney & Diabetes disease treatment by ayurveda for 20 years and produced
                                brilliant results for numerous types of malignancies at all stages. He has been a
                                forerunner in treating Kidney disease by ayurveda. With an uncommon knack towards
                                research and medicine, Dr. B.K. Chaurasia is a true promoter and Kidney curer through
                                science or ayurvedic medicine. Always valuing honesty, commitment, accountability,
                                integrity, uprightness and dedication, his one dream is to make Kidney Care Medicine
                                available to as many people as possible, at an affordable cost.He then undertook his
                                post-graduation in Ayurveda in 2006 and later finished his Diploma in Medico-Legal
                                Systems from Symbiosis Center of Health Care, Pune. It was during this time that he
                                invented the Kidney care center.
                            </p>
                            <div style="border-radius: 10px;"
                                class="team-bottom-part bg-lighter border-1px text-center p-10">
                                <h5 class="">- Managing Director of Bk Arogyam -</h5>
                            </div>
                        </div>
                    </div>
                    <h2 class="title line-bottom mt-20">Our <span class="text-theme-colored">Core Team</span></h2>

                    <div class="owl-carousel-4col">
                        <div class="item">
                            <div class="team-members maxwidth400">
                                <div class="team-thumb">
                                    <img class="img-fullwidth" alt="" src="{% static 'images/team/Sashi.jpg'%}">
                                </div>
                                <div style="border-radius: 10px;"
                                    class="team-bottom-part bg-lighter border-1px text-center p-10 pt-20 pb-10">
                                    <h4 class="text-uppercase font-raleway font-weight-600 m-0"><a
                                            class="text-theme-color-2" style="cursor: pointer;" data-toggle="modal"
                                            data-target=".bs-example-modal-lg">Dr.
                                            Shashi Chaurasia</a></h4>
                                    <h5 class="">- Phenomenal -</h5>
                                    <hr>
                                    <a data-toggle="modal" data-target=".bs-example-modal-lg"
                                        class="btn btn-default btn-theme-colored btn-xs">View Detail</a>
                                    <a href="tel:8081222333"
                                        class="btn btn-default btn-theme-colored btn-xs">Connect</a>
                                </div>
                            </div>
                        </div>


                        <div class="item">
                            <div class="team-members maxwidth400">
                                <div class="team-thumb">
                                    <img class="img-fullwidth" alt=""
                                        src="{% static 'images/team/shimali chaurasia.png'%}">
                                </div>
                                <div style="border-radius: 10px;"
                                    class="team-bottom-part bg-lighter border-1px text-center p-10 pt-20 pb-10">
                                    <h4 class="text-uppercase font-raleway font-weight-600 m-0"><a
                                            class="text-theme-color-2" style="cursor: pointer;" data-toggle="modal"
                                            data-target=".bs-example-modal-lg3">Dr. Shimaly
                                            Chaurasia</a></h4>
                                    <h5 class="">- Dietitian -</h5>
                                    <hr>
                                    <a data-toggle="modal" data-target=".bs-example-modal-lg3"
                                        class="btn btn-default btn-theme-colored btn-xs">View Detail</a>
                                    <a href="tel:8081222333"
                                        class="btn btn-default btn-theme-colored btn-xs">Connect</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- Modals -->

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="row p-20">
                <div class="col-md-4">
                    <div class="item">
                        <div class="team-members maxwidth400">
                            <div class="team-thumb">
                                <img style="width: 200px ​!important;" alt=""
                                    src="{% static 'images/team/modal/Sashi (1).jpg'%}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <h3 class="font-weight-600">Dr. Shashi Chaurasia</h3>
                    <p style="text-align: justify;">
                        She is a Phenomenal Ayurvedic expert. She belongs to the family of Ayurveda experts as both of
                        siblings and father are MD in Ayurveda and are practitioners of Ayurveda.
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade bs-example-modal-lg3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="row p-20">
                <div class="col-md-4">
                    <div class="item">
                        <div class="team-members maxwidth400">
                            <div class="team-thumb">
                                <img style="width: 200px ​!important;" alt=""
                                    src="{% static 'images/team/modal/shimali chaurasia.png'%}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <h3 class="font-weight-600">Dr. Shimali Chaurasia</h3>
                    <p style="text-align: justify;">
                        She is an expert dietitian and pharmacist. She has passion for health and genuine interest in
                        helping others. She is phenomenal in decision making and has analytic personality.
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}
