{% extends "./base.html" %} {% block body %} {% load static %}

<!-- Section: inner-header -->
<section class="inner-header divider parallax layer-overlay overlay-dark-5">
    <div class="container pt-20 pb-20">
        <!-- Section Content -->
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="title text-white">Diseases</h4>
                    <!-- <ul class="breadcrumb white">
                <li><a class="text-white" href="/arogyam/">arogyam</a></li>
                <li class="active">Events</li>
              </ul> -->
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section: Diseases -->
<section id="disease">
    <div class="container pt-50 pb-50">
        <div class="section-title text-center">
            <div class="row">
                <div class="title-icon">
                    <img style="height: 40px; text-align: center; margin-top: -20px;"
                        src="{% static 'images/hearbel.png' %}">
                </div>
                <div class="col-md-8 col-md-offset-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                    <h2 class="text-uppercase mt-0">Find<span class="text-theme-colored"> Diseases</span></h2>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem autem<br> voluptatem obcaecati!</p> -->
                </div>
            </div>
        </div>
        <div class="row multi-row-clearfix">


            <div class="col-xs-12 col-sm-6 col-md-3 wow fadeInLeft mb-10" data-wow-duration="3s" data-wow-delay="0.3s">
                <article class="border-redi post clearfix bg-lighter mb-sm-30">
                    <a href="http://shop.arogyambharat.com/" target="_blank">
                        <div class="entry-header">
                            <div class="post-thumb thumb">
                                <img src="{% static 'images/icon/26 (1).jpg' %}" alt=""
                                    class="img-responsive img-fullwidth">
                            </div>
                        </div>
                        <div class="entry-content p-20">
                            <h4 class="entry-title text-uppercase text-center heading font-weight-600">Buy
                                Now
                            </h4>
                        </div>
                    </a>
                </article>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 wow fadeInLeft mb-10" data-wow-duration="3s" data-wow-delay="0.3s">
                <article class="border-redi post clearfix bg-lighter mb-sm-30">
                    <a href="http://shop.arogyambharat.com/category.html?pcategory=15" target="_blank">
                        <div class="entry-header">
                            <div class="post-thumb thumb">
                                <img src="{% static 'images/icon/kidney.jpg' %}" alt=""
                                    class="img-responsive img-fullwidth">
                            </div>
                        </div>
                        <div class="entry-content p-20">
                            <h4 class="entry-title text-uppercase text-center heading font-weight-600">Kidney
                                Problem</h4>
                        </div>
                    </a>
                </article>
            </div>



            <div class="col-xs-12 col-sm-6 col-md-3 wow fadeInLeft mb-10" data-wow-duration="3s" data-wow-delay="0.3s">
                <article class="border-redi post clearfix bg-lighter mb-sm-30">
                    <a href="http://shop.arogyambharat.com/category.html?pcategory=16" target="_blank">
                        <div class="entry-header">
                            <div class="post-thumb thumb">
                                <img src="{% static 'images/icon/2 (1).jpg' %}" alt=""
                                    class="img-responsive img-fullwidth">
                            </div>
                        </div>
                        <div class="entry-content p-20">
                            <h4 class="entry-title text-uppercase text-center heading font-weight-600">Diabetes
                                Problem</h4>
                        </div>
                    </a>
                </article>
            </div>


            <div class="col-xs-12 col-sm-6 col-md-3 wow fadeInLeft mb-10" data-wow-duration="3s" data-wow-delay="0.3s">
                <article class="border-redi post clearfix bg-lighter mb-sm-30">
                    <a href="http://shop.arogyambharat.com/category.html?pcategory=17" target="_blank">
                        <div class="entry-header">
                            <div class="post-thumb thumb">
                                <img src="{% static 'images/icon/3.jpg' %}" alt="" class="img-responsive img-fullwidth">
                            </div>
                        </div>
                        <div class="entry-content p-20">
                            <h4 class="entry-title text-uppercase text-center heading font-weight-600">Emergency
                            </h4>
                        </div>
                    </a>
                </article>
            </div>


            <div class="col-xs-12 col-sm-6 col-md-3 wow fadeInLeft mb-10" data-wow-duration="3s" data-wow-delay="0.3s">
                <article class="border-redi post clearfix bg-lighter mb-sm-30">
                    <a href="http://shop.arogyambharat.com/category.html?pcategory=35" target="_blank">
                        <div class="entry-header">
                            <div class="post-thumb thumb">
                                <img src="{% static 'images/icon/4.jpg' %}" alt="" class="img-responsive img-fullwidth">
                            </div>
                        </div>
                        <div class="entry-content p-20">
                            <h4 class="entry-title text-uppercase text-center heading font-weight-600">Heart
                                Problem</h4>
                        </div>
                    </a>
                </article>
            </div>


            <div class="col-xs-12 col-sm-6 col-md-3 wow fadeInLeft mb-10" data-wow-duration="3s" data-wow-delay="0.3s">
                <article class="border-redi post clearfix bg-lighter mb-sm-30">
                    <a href="http://shop.arogyambharat.com/category.html?pcategory=36" target="_blank">
                        <div class="entry-header">
                            <div class="post-thumb thumb">
                                <img src="{% static 'images/icon/5.jpg' %}" alt="" class="img-responsive img-fullwidth">
                            </div>
                        </div>
                        <div class="entry-content p-20">
                            <h4 class="entry-title text-uppercase text-center heading font-weight-600">Neuro
                                Problem</h4>
                        </div>
                    </a>
                </article>
            </div>



            <div class="col-xs-12 col-sm-6 col-md-3 wow fadeInLeft mb-10" data-wow-duration="3s" data-wow-delay="0.3s">
                <article class="border-redi post clearfix bg-lighter mb-sm-30">
                    <a href="http://shop.arogyambharat.com/category.html?pcategory=37" target="_blank">
                        <div class="entry-header">
                            <div class="post-thumb thumb">
                                <img src="{% static 'images/icon/7.jpg' %}" alt="" class="img-responsive img-fullwidth">
                            </div>
                        </div>
                        <div class="entry-content p-20">
                            <h4 class="entry-title text-uppercase text-center heading font-weight-600">Cancer
                                Problem</h4>
                        </div>
                    </a>
                </article>
            </div>



            <div class="col-xs-12 col-sm-6 col-md-3 wow fadeInLeft mb-10" data-wow-duration="3s" data-wow-delay="0.3s">
                <article class="border-redi post clearfix bg-lighter mb-sm-30">
                    <a href="http://shop.arogyambharat.com/category.html?pcategory=38" target="_blank">
                        <div class="entry-header">
                            <div class="post-thumb thumb">
                                <img src="{% static 'images/icon/6.jpg' %}" alt="" class="img-responsive img-fullwidth">
                            </div>
                        </div>
                        <div class="entry-content p-20">
                            <h4 class="entry-title text-uppercase text-center heading font-weight-600">Anorectal
                                Problem</h4>
                        </div>
                    </a>
                </article>
            </div>



            <div class="col-xs-12 col-sm-6 col-md-3 wow fadeInLeft mb-10" data-wow-duration="3s" data-wow-delay="0.3s">
                <article class="border-redi post clearfix bg-lighter mb-sm-30">
                    <a href="http://shop.arogyambharat.com/category.html?pcategory=39" target="_blank">
                        <div class="entry-header">
                            <div class="post-thumb thumb">
                                <img src="{% static 'images/icon/8.jpg' %}" alt="" class="img-responsive img-fullwidth">
                            </div>
                        </div>
                        <div class="entry-content p-20">
                            <h4 class="entry-title text-uppercase text-center heading font-weight-600">Obesity
                                Problem</h4>
                        </div>
                    </a>
                </article>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 wow fadeInLeft mb-10" data-wow-duration="3s" data-wow-delay="0.3s">
                <article class="border-redi post clearfix bg-lighter mb-sm-30">
                    <a href="http://shop.arogyambharat.com/category.html?pcategory=40" target="_blank">
                        <div class="entry-header">
                            <div class="post-thumb thumb">
                                <img src="{% static 'images/icon/9.jpg' %}" alt="" class="img-responsive img-fullwidth">
                            </div>
                        </div>
                        <div class="entry-content p-20">
                            <h4 class="entry-title text-uppercase text-center heading font-weight-600">Joint
                                Problem</h4>
                        </div>
                    </a>
                </article>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 wow fadeInLeft mb-10" data-wow-duration="3s" data-wow-delay="0.3s">
                <article class="border-redi post clearfix bg-lighter mb-sm-30">
                    <a href="http://shop.arogyambharat.com/category.html?pcategory=41" target="_blank">
                        <div class="entry-header">
                            <div class="post-thumb thumb">
                                <img src="{% static 'images/icon/10.jpg' %}" alt=""
                                    class="img-responsive img-fullwidth">
                            </div>
                        </div>
                        <div class="entry-content p-20">
                            <h4 class="entry-title text-uppercase text-center heading font-weight-600">Thyroid
                                Problem</h4>
                        </div>
                    </a>
                </article>
            </div>


            <div class="col-xs-12 col-sm-6 col-md-3 wow fadeInLeft mb-10" data-wow-duration="3s" data-wow-delay="0.3s">
                <article class="border-redi post clearfix bg-lighter mb-sm-30">
                    <a href="http://shop.arogyambharat.com/category.html?pcategory=42" target="_blank">
                        <div class="entry-header">
                            <div class="post-thumb thumb">
                                <img src="{% static 'images/icon/11.jpg' %}" alt=""
                                    class="img-responsive img-fullwidth">
                            </div>
                        </div>
                        <div class="entry-content p-20">
                            <h4 class="entry-title text-uppercase text-center heading font-weight-600">Gastro
                                Problem</h4>
                        </div>
                    </a>
                </article>
            </div>



            <div class="col-xs-12 col-sm-6 col-md-3 wow fadeInLeft mb-10" data-wow-duration="3s" data-wow-delay="0.3s">
                <article class="border-redi post clearfix bg-lighter mb-sm-30">
                    <a href="http://shop.arogyambharat.com/category.html?pcategory=43" target="_blank">
                        <div class="entry-header">
                            <div class="post-thumb thumb">
                                <img src="{% static 'images/icon/12.jpg' %}" alt=""
                                    class="img-responsive img-fullwidth">
                            </div>
                        </div>
                        <div class="entry-content p-20">
                            <h4 class="entry-title text-uppercase text-center heading font-weight-600">Gaino
                                Problem</h4>
                        </div>
                    </a>
                </article>
            </div>


            <div class="col-xs-12 col-sm-6 col-md-3 wow fadeInLeft mb-10" data-wow-duration="3s" data-wow-delay="0.3s">
                <article class="border-redi post clearfix bg-lighter mb-sm-30">
                    <a href="http://shop.arogyambharat.com/category.html?pcategory=44" target="_blank">
                        <div class="entry-header">
                            <div class="post-thumb thumb">
                                <img src="{% static 'images/icon/13.jpg' %}" alt=""
                                    class="img-responsive img-fullwidth">
                            </div>
                        </div>
                        <div class="entry-content p-20">
                            <h4 class="entry-title text-uppercase text-center heading font-weight-600">Prostate
                                Problem</h4>
                        </div>
                    </a>
                </article>
            </div>



            <div class="col-xs-12 col-sm-6 col-md-3 wow fadeInLeft mb-10" data-wow-duration="3s" data-wow-delay="0.3s">
                <article class="border-redi post clearfix bg-lighter mb-sm-30">
                    <a href="http://shop.arogyambharat.com/category.html?pcategory=45" target="_blank">
                        <div class="entry-header">
                            <div class="post-thumb thumb">
                                <img src="{% static 'images/icon/14.jpg' %}" alt=""
                                    class="img-responsive img-fullwidth">
                            </div>
                        </div>
                        <div class="entry-content p-20">
                            <h4 class="entry-title text-uppercase text-center heading font-weight-600">respiratory
                                Problem</h4>
                        </div>
                    </a>
                </article>
            </div>



            <div class="col-xs-12 col-sm-6 col-md-3 wow fadeInLeft mb-10" data-wow-duration="3s" data-wow-delay="0.3s">
                <article class="border-redi post clearfix bg-lighter mb-sm-30">
                    <a href="http://shop.arogyambharat.com/category.html?pcategory=46" target="_blank">
                        <div class="entry-header">
                            <div class="post-thumb thumb">
                                <img src="{% static 'images/icon/15.jpg' %}" alt=""
                                    class="img-responsive img-fullwidth">
                            </div>
                        </div>
                        <div class="entry-content p-20">
                            <h4 class="entry-title text-uppercase text-center heading font-weight-600">Skin
                                Problem</h4>
                        </div>
                    </a>
                </article>
            </div>


            <div class="col-xs-12 col-sm-6 col-md-3 wow fadeInLeft mb-10" data-wow-duration="3s" data-wow-delay="0.3s">
                <article class="border-redi post clearfix bg-lighter mb-sm-30">
                    <a href="http://shop.arogyambharat.com/category.html?pcategory=47" target="_blank">
                        <div class="entry-header">
                            <div class="post-thumb thumb">
                                <img src="{% static 'images/icon/16.jpg' %}" alt=""
                                    class="img-responsive img-fullwidth">
                            </div>
                        </div>
                        <div class="entry-content p-20">
                            <h4 class="entry-title text-uppercase text-center heading font-weight-600">CHild
                                Problem</h4>
                        </div>
                    </a>
                </article>
            </div>


            <div class="col-xs-12 col-sm-6 col-md-3 wow fadeInLeft mb-10" data-wow-duration="3s" data-wow-delay="0.3s">
                <article class="border-redi post clearfix bg-lighter mb-sm-30">
                    <a href="http://shop.arogyambharat.com/category.html?pcategory=48" target="_blank">
                        <div class="entry-header">
                            <div class="post-thumb thumb">
                                <img src="{% static 'images/icon/17.jpg' %}" alt=""
                                    class="img-responsive img-fullwidth">
                            </div>
                        </div>
                        <div class="entry-content p-20">
                            <h4 class="entry-title text-uppercase text-center heading font-weight-600">Immune
                                Problem</h4>
                        </div>
                    </a>
                </article>
            </div>



            <div class="col-xs-12 col-sm-6 col-md-3 wow fadeInLeft mb-10" data-wow-duration="3s" data-wow-delay="0.3s">
                <article class="border-redi post clearfix bg-lighter mb-sm-30">
                    <a href="http://shop.arogyambharat.com/category.html?pcategory=58" target="_blank">
                        <div class="entry-header">
                            <div class="post-thumb thumb">
                                <img src="{% static 'images/icon/23 (1).jpg' %}" alt=""
                                    class="img-responsive img-fullwidth">
                            </div>
                        </div>
                        <div class="entry-content p-20">
                            <h4 class="entry-title text-uppercase text-center heading font-weight-600">Sexual
                                Problem</h4>
                        </div>
                    </a>
                </article>
            </div>



            <div class="col-xs-12 col-sm-6 col-md-3 wow fadeInLeft mb-10" data-wow-duration="3s" data-wow-delay="0.3s">
                <article class="border-redi post clearfix bg-lighter mb-sm-30">
                    <a href="http://shop.arogyambharat.com/category.html?pcategory=59" target="_blank">
                        <div class="entry-header">
                            <div class="post-thumb thumb">
                                <img src="{% static 'images/icon/18 (1).jpg' %}" alt=""
                                    class="img-responsive img-fullwidth">
                            </div>
                        </div>
                        <div class="entry-content p-20">
                            <h4 class="entry-title text-uppercase text-center heading font-weight-600">Infertility
                                Problem</h4>
                        </div>
                    </a>
                </article>
            </div>



            <div class="col-xs-12 col-sm-6 col-md-3 wow fadeInLeft mb-10" data-wow-duration="3s" data-wow-delay="0.3s">
                <article class="border-redi post clearfix bg-lighter mb-sm-30">
                    <a href="http://shop.arogyambharat.com/category.html?pcategory=60" target="_blank">
                        <div class="entry-header">
                            <div class="post-thumb thumb">
                                <img src="{% static 'images/icon/19 (1).jpg' %}" alt=""
                                    class="img-responsive img-fullwidth">
                            </div>
                        </div>
                        <div class="entry-content p-20">
                            <h4 class="entry-title text-uppercase text-center heading font-weight-600">Liver
                                Problem</h4>
                        </div>
                    </a>
                </article>
            </div>



            <div class="col-xs-12 col-sm-6 col-md-3 wow fadeInLeft mb-10" data-wow-duration="3s" data-wow-delay="0.3s">
                <article class="border-redi post clearfix bg-lighter mb-sm-30">
                    <a href="http://shop.arogyambharat.com/category.html?pcategory=61" target="_blank">
                        <div class="entry-header">
                            <div class="post-thumb thumb">
                                <img src="{% static 'images/icon/20 (1).jpg' %}" alt=""
                                    class="img-responsive img-fullwidth">
                            </div>
                        </div>
                        <div class="entry-content p-20">
                            <h4 class="entry-title text-uppercase text-center heading font-weight-600">Stone
                                Problem</h4>
                        </div>
                    </a>
                </article>
            </div>


            <div class="col-xs-12 col-sm-6 col-md-3 wow fadeInLeft mb-10" data-wow-duration="3s" data-wow-delay="0.3s">
                <article class="border-redi post clearfix bg-lighter mb-sm-30">
                    <a href="http://shop.arogyambharat.com/category.html?pcategory=62" target="_blank">
                        <div class="entry-header">
                            <div class="post-thumb thumb">
                                <img src="{% static 'images/icon/21 (1).jpg' %}" alt=""
                                    class="img-responsive img-fullwidth">
                            </div>
                        </div>
                        <div class="entry-content p-20">
                            <h4 class="entry-title text-uppercase text-center heading font-weight-600">Spondylitis
                                Problem</h4>
                        </div>
                    </a>
                </article>
            </div>


            <div class="col-xs-12 col-sm-6 col-md-3 wow fadeInLeft mb-10" data-wow-duration="3s" data-wow-delay="0.3s">
                <article class="border-redi post clearfix bg-lighter mb-sm-30">
                    <a href="http://shop.arogyambharat.com/category.html?pcategory=63" target="_blank">
                        <div class="entry-header">
                            <div class="post-thumb thumb">
                                <img src="{% static 'images/icon/22 (1).jpg' %}" alt=""
                                    class="img-responsive img-fullwidth">
                            </div>
                        </div>
                        <div class="entry-content p-20">
                            <h4 class="entry-title text-uppercase text-center heading font-weight-600">ADDICTION
                                Problem</h4>
                        </div>
                    </a>
                </article>
            </div>
        </div>
    </div>
</section>
{% endblock %}