{% extends "./base.html" %}
{% block title%}
Event | BK Arogyam
{% endblock %}
{% block body %}
{% load static %}


<div class="main-content">

  <!-- Section: inner-header -->
  <section class="inner-header divider parallax layer-overlay overlay-dark-5">
    <div class="container pt-20 pb-20">
      <!-- Section Content -->
      <div class="section-content">
        <div class="row">
          <div class="col-md-12">
            <h4 class="title text-white">Events</h4>
            <!-- <ul class="breadcrumb white">
                <li><a class="text-white" href="/arogyam/">arogyam</a></li>
                <li class="active">Events</li>
              </ul> -->
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section: Our Mission & Upcoming Events -->
  <section>
    <div class="container">
      <div class="section-content">
        <div class="row multi-row-clearfix">
          {% for i in events%}
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="schedule-box maxwidth500 bg-lighter mb-30">
              <div class="thumb">
                <img class="img-fullwidth" alt="" src="https://www.bkarogyam.com/media/{{i.event_image}}">
              </div>
              <div class="schedule-details clearfix p-15 pt-10">
                <h4 class="title mt-0"><a href="{% url 'events_detail' e_id=i.domain %}">{{i.title}}</a></h4>
                <ul class="list-inline font-11 text-gray">
                  <li><i class="fa fa-calendar mr-5"></i>{{i.event_date}}</li>
                </ul>
                <div class="clearfix"></div>
                <p class="mt-10 max-lines">{{i.content|striptags}}</p>
                <div class="mt-10">
                  <a style="width: 100%;" class="btn btn-dark btn-theme-colored btn-sm mt-10" href="{% url 'events_detail' e_id=i.domain %}">Read
                    More</a>
                </div>
              </div>
            </div>
          </div>
          {% endfor%}

        </div>
      </div>
    </div>
  </section>

  {% endblock %}